/*
 * ==========================================================================
 * Switch Button
 * ==========================================================================
 */

$color-on: var(--bs-success);
$color-off: var(--bs-danger);

$switch-time: 0.4s;

.switch-button {
  height: 1.5em;
  display: inline-flex;
  align-items: center;
  flex-direction: row;

  &.disabled {
    .switch {
      cursor: not-allowed;
      background-color: $gray-400 !important;
    }
    .values > span {
      color: $gray-400 !important;
    }
  }

  .label {
    margin-right: 0.75em;
    order: -1;
  }

  // Hide default HTML checkbox
  input {
    display: none;
  }

  // When the switch is off by default
  .switch {
    position: relative;
    border-radius: 0.6em;
    flex-shrink: 0;
    cursor: pointer;
    width: 2.25em;
    height: 1em;
    background-color: $color-off;
    -webkit-transition: $switch-time;
    transition: $switch-time;
    margin-right: 0.5em;

    &:before {
      position: absolute;
      content: '';
      height: 1.25em;
      width: 1.25em;
      left: -0.25em;
      bottom: -0.05em;
      -webkit-transition: $switch-time;
      transition: $switch-time;
      background-color: $white;
      border-radius: 100%;
      box-shadow: 0 1px 2px transparentize($black, 0.7);
    }
  }

  .values {
    position: relative;
    align-self: stretch;
    flex-shrink: 0;
    width: 2em;

    & > span {
      position: absolute;
      font-weight: bold;
      left: 0;

      &.yes {
        color: $color-on;
      }
      &.no {
        color: $color-off;
      }

      transition: $switch-time ease-in-out;
      &.yes {
        @include opacity(0);
      }
    }
  }

  // When the switch is on
  input:checked + .switch {
    background-color: $color-on;

    &:before {
      left: 1.25em;
    }

    & + .values > span {
      &.no {
        @include opacity(0);
      }
      &.yes {
        @include opacity(1);
      }
    }
  }

  input:focus + .switch {
    box-shadow: 0 0 1px $blue;
  }
}

@if $enableDarkMode {
  @include color-mode(dark) {
    .nav-item .switch-button {
      color: var(--bs-body-color);
    }
  }
}
