$icomoon-font-family: 'skmfont' !default;
$icomoon-font-path: 'fonts' !default;

$fonticon-ce: unquote('"\\e93c"');
$fonticon-eye: unquote('"\\eb1a"');
$fonticon-eye-hidden: unquote('"\\eb1b"');
$fonticon-shipment-evaluation-none-path1: unquote('"\\eb04"');
$fonticon-shipment-evaluation-none-path2: unquote('"\\eb05"');
$fonticon-shipment-evaluation-none-path3: unquote('"\\eb06"');
$fonticon-shipment-evaluation-bad-path1: unquote('"\\eb07"');
$fonticon-shipment-evaluation-bad-path2: unquote('"\\eb08"');
$fonticon-shipment-evaluation-bad-path3: unquote('"\\eb09"');
$fonticon-shipment-evaluation-bad-path4: unquote('"\\eb0a"');
$fonticon-shipment-evaluation-neutral-path1: unquote('"\\eb0b"');
$fonticon-shipment-evaluation-neutral-path2: unquote('"\\eb0c"');
$fonticon-shipment-evaluation-neutral-path3: unquote('"\\eb0d"');
$fonticon-shipment-evaluation-neutral-path4: unquote('"\\eb0e"');
$fonticon-shipment-evaluation-good-path1: unquote('"\\eb0f"');
$fonticon-shipment-evaluation-good-path2: unquote('"\\eb10"');
$fonticon-shipment-evaluation-good-path3: unquote('"\\eb11"');
$fonticon-shipment-evaluation-good-path4: unquote('"\\eb12"');
$fonticon-shipment-evaluation-very-good-path1: unquote('"\\eb13"');
$fonticon-shipment-evaluation-very-good-path2: unquote('"\\eb14"');
$fonticon-shipment-evaluation-very-good-path3: unquote('"\\eb15"');
$fonticon-shipment-evaluation-very-good-path4: unquote('"\\eb16"');
$fonticon-seller-rating-none: unquote('"\\eaff"');
$fonticon-seller-rating-bad: unquote('"\\eb00"');
$fonticon-seller-rating-average: unquote('"\\eb01"');
$fonticon-seller-rating-good: unquote('"\\eb02"');
$fonticon-seller-rating-very-good: unquote('"\\eb03"');
$fonticon-seller-rating-outstanding-path1: unquote('"\\eb17"');
$fonticon-seller-rating-outstanding-path2: unquote('"\\eb18"');
$fonticon-reverse-holo: unquote('"\\eafe"');
$fonticon-bubble-check: unquote('"\\eafa"');
$fonticon-phone: unquote('"\\eaf9"');
$fonticon-beta-test: unquote('"\\eaf8"');
$fonticon-shipment-reduction-path1: unquote('"\\eaf3"');
$fonticon-shipment-reduction-path2: unquote('"\\eaf4"');
$fonticon-price-reduction-path1: unquote('"\\eaf5"');
$fonticon-price-reduction-path2: unquote('"\\eaf6"');
$fonticon-price-reduction-path3: unquote('"\\eaf7"');
$fonticon-wand: unquote('"\\eaf1"');
$fonticon-code: unquote('"\\ea80"');
$fonticon-api: unquote('"\\ea7b"');
$fonticon-refresh: unquote('"\\f021"');
$fonticon-thumbs-up-outline: unquote('"\\ea6e"');
$fonticon-thumbs-up: unquote('"\\ea6f"');
$fonticon-send: unquote('"\\ea66"');
$fonticon-attachment: unquote('"\\ea6d"');
$fonticon-artists: unquote('"\\ea2e"');
$fonticon-bank-transfer: unquote('"\\ea12"');
$fonticon-location: unquote('"\\ea10"');
$fonticon-location-address: unquote('"\\ea11"');
$fonticon-clock: unquote('"\\ea08"');
$fonticon-more: unquote('"\\ea07"');
$fonticon-rotate: unquote('"\\ea04"');
$fonticon-gallery: unquote('"\\f009"');
$fonticon-table: unquote('"\\ea05"');
$fonticon-wants: unquote('"\\e9da"');
$fonticon-amount: unquote('"\\e94b"');
$fonticon-tags: unquote('"\\f02c"');
$fonticon-condition-mint: unquote('"\\e9df"');
$fonticon-filter: unquote('"\\e945"');
$fonticon-filter-reset: unquote('"\\e946"');
$fonticon-wants-list-matcher: unquote('"\\e93b"');
$fonticon-calendar: unquote('"\\e944"');
$fonticon-language: unquote('"\\e942"');
$fonticon-move-up: unquote('"\\ea46"');
$fonticon-move-down: unquote('"\\ea47"');
$fonticon-sort-down: unquote('"\\ea71"');
$fonticon-unlock: unquote('"\\e932"');
$fonticon-lock: unquote('"\\e933"');
$fonticon-shelves: unquote('"\\e931"');
$fonticon-clipboard: unquote('"\\e9a5"');
$fonticon-star-empty: unquote('"\\eafb"');
$fonticon-star: unquote('"\\e964"');
$fonticon-notifications: unquote('"\\e9b8"');
$fonticon-chest: unquote('"\\e9a2"');
$fonticon-camera: unquote('"\\e9ab"');
$fonticon-apps: unquote('"\\e981"');
$fonticon-trends: unquote('"\\e97f"');
$fonticon-products: unquote('"\\e980"');
$fonticon-altered: unquote('"\\e982"');
$fonticon-shipping-methods: unquote('"\\e97c"');
$fonticon-delivery: unquote('"\\ea7f"');
$fonticon-myoffers: unquote('"\\e97e"');
$fonticon-sell-products: unquote('"\\e97d"');
$fonticon-purchases: unquote('"\\e978"');
$fonticon-sales: unquote('"\\e979"');
$fonticon-coupon: unquote('"\\e977"');
$fonticon-become-seller: unquote('"\\e97a"');
$fonticon-selling: unquote('"\\e974"');
$fonticon-buying: unquote('"\\e975"');
$fonticon-upload: unquote('"\\ea70"');
$fonticon-cart: unquote('"\\e976"');
$fonticon-transactions: unquote('"\\e972"');
$fonticon-email: unquote('"\\e973"');
$fonticon-vacation: unquote('"\\e971"');
$fonticon-envelope-open: unquote('"\\e96e"');
$fonticon-envelope: unquote('"\\e96f"');
$fonticon-click: unquote('"\\e96d"');
$fonticon-warning: unquote('"\\e96c"');
$fonticon-questionmark: unquote('"\\e985"');
$fonticon-info: unquote('"\\e937"');
$fonticon-search: unquote('"\\e986"');
$fonticon-search-wants: unquote('"\\ea06"');
$fonticon-delete: unquote('"\\e9ac"');
$fonticon-edit: unquote('"\\e928"');
$fonticon-download: unquote('"\\e927"');
$fonticon-printer: unquote('"\\ea9e"');
$fonticon-file: unquote('"\\ea7d"');
$fonticon-copy: unquote('"\\e92c"');
$fonticon-paste: unquote('"\\ea90"');
$fonticon-file-excel: unquote('"\\eae8"');
$fonticon-file-csv: unquote('"\\eae9"');
$fonticon-hourglass: unquote('"\\ea7e"');
$fonticon-chevron-up: unquote('"\\f077"');
$fonticon-chevron-down: unquote('"\\e921"');
$fonticon-chevron-first: unquote('"\\eaec"');
$fonticon-chevron-left: unquote('"\\e926"');
$fonticon-chevron-right: unquote('"\\e925"');
$fonticon-chevron-last: unquote('"\\eaeb"');
$fonticon-cross-circle: unquote('"\\e923"');
$fonticon-check-circle: unquote('"\\e922"');
$fonticon-close: unquote('"\\ea0f"');
$fonticon-plus: unquote('"\\e943"');
$fonticon-minus: unquote('"\\ea0b"');
$fonticon-arrow-up2: unquote('"\\ea3a"');
$fonticon-arrow-down2: unquote('"\\ea3e"');
$fonticon-circle-up: unquote('"\\ea41"');
$fonticon-play: unquote('"\\ea15"');
$fonticon-send1: unquote('"\\e919"');
$fonticon-send2: unquote('"\\e91a"');
$fonticon-send3: unquote('"\\e91b"');
$fonticon-send4: unquote('"\\e91c"');
$fonticon-money: unquote('"\\e918"');
$fonticon-free: unquote('"\\ea7a"');
$fonticon-countries: unquote('"\\e900"');
$fonticon-offers: unquote('"\\e901"');
$fonticon-sold: unquote('"\\e902"');
$fonticon-users: unquote('"\\e903"');
$fonticon-user-blocked-path1: unquote('"\\e936"');
$fonticon-user-blocked-path2: unquote('"\\e956"');
$fonticon-user-blocked-path3: unquote('"\\e957"');
$fonticon-users-professional: unquote('"\\ea7c"');
$fonticon-users-powerseller: unquote('"\\e952"');
$fonticon-users-vacation-path1: unquote('"\\ea96"');
$fonticon-users-vacation-path2: unquote('"\\ea97"');
$fonticon-users-pro-vacation-path1: unquote('"\\ea81"');
$fonticon-users-pro-vacation-path2: unquote('"\\ea82"');
$fonticon-users-power-vacation-path1: unquote('"\\e93e"');
$fonticon-users-power-vacation-path2: unquote('"\\e93f"');
$fonticon-users-frozen-path1: unquote('"\\eaed"');
$fonticon-users-frozen-path2: unquote('"\\eaee"');
$fonticon-users-pro-frozen-path1: unquote('"\\eaef"');
$fonticon-users-pro-frozen-path2: unquote('"\\eaf0"');
$fonticon-users-power-frozen-path1: unquote('"\\e938"');
$fonticon-users-power-frozen-path2: unquote('"\\e939"');
$fonticon-key: unquote('"\\e98d"');
$fonticon-home: unquote('"\\e920"');
$fonticon-comments: unquote('"\\e970"');
$fonticon-cog: unquote('"\\e994"');
$fonticon-card-colors: unquote('"\\ea72"');
$fonticon-card-text: unquote('"\\ea74"');
$fonticon-card-name: unquote('"\\ea73"');
$fonticon-card-types: unquote('"\\ea75"');
$fonticon-card-commander-identity: unquote('"\\ea76"');
$fonticon-card-flavor-text: unquote('"\\ea77"');
$fonticon-card-mana-cost: unquote('"\\ea78"');
$fonticon-secure-path1: unquote('"\\e904"');
$fonticon-secure-path2: unquote('"\\e905"');
$fonticon-secure-path3: unquote('"\\e906"');
$fonticon-easy-selling-path1: unquote('"\\e907"');
$fonticon-easy-selling-path2: unquote('"\\e908"');
$fonticon-easy-selling-path3: unquote('"\\e909"');
$fonticon-demand-path1: unquote('"\\e90a"');
$fonticon-demand-path2: unquote('"\\e90b"');
$fonticon-demand-path3: unquote('"\\e90c"');
$fonticon-fair-path1: unquote('"\\e90d"');
$fonticon-fair-path2: unquote('"\\e90e"');
$fonticon-fair-path3: unquote('"\\e90f"');
$fonticon-fair-path4: unquote('"\\e910"');
$fonticon-fair-path5: unquote('"\\e911"');
$fonticon-fair-path6: unquote('"\\e912"');
$fonticon-handling-path1: unquote('"\\e913"');
$fonticon-handling-path2: unquote('"\\e914"');
$fonticon-price-path1: unquote('"\\e915"');
$fonticon-price-path2: unquote('"\\e916"');
$fonticon-price-path3: unquote('"\\e917"');
$fonticon-cmsymbol: unquote('"\\e91d"');
$fonticon-cmname-tm: unquote('"\\e91f"');
$fonticon-cmname: unquote('"\\e91e"');
$fonticon-cmspoilers-path1: unquote('"\\ea13"');
$fonticon-cmspoilers-path2: unquote('"\\ea14"');
$fonticon-cmspoilers-path3: unquote('"\\ea16"');
$fonticon-cmspoilers-path4: unquote('"\\ea17"');
$fonticon-cmspoilers-path5: unquote('"\\ea18"');
$fonticon-cmspoilers-path6: unquote('"\\ea19"');
$fonticon-cminsight-logo-path1: unquote('"\\e965"');
$fonticon-cminsight-logo-path2: unquote('"\\e966"');
$fonticon-cminsight-logo-path3: unquote('"\\e967"');
$fonticon-cminsight-logo-path4: unquote('"\\e968"');
$fonticon-cminsight-logo-path5: unquote('"\\e969"');
$fonticon-cminsight-logo-path6: unquote('"\\e96a"');
$fonticon-cminsight-logo-path7: unquote('"\\e96b"');
$fonticon-cmnews-path1: unquote('"\\e99b"');
$fonticon-cmnews-path2: unquote('"\\e99c"');
$fonticon-cmnews-path3: unquote('"\\e99d"');
$fonticon-cmnews-path4: unquote('"\\e99e"');
$fonticon-cmnews-path5: unquote('"\\e99f"');
$fonticon-cmalteredart-path1: unquote('"\\e9b9"');
$fonticon-cmalteredart-path2: unquote('"\\e9ba"');
$fonticon-cmalteredart-path3: unquote('"\\e9bb"');
$fonticon-cmalteredart-path4: unquote('"\\e9bc"');
$fonticon-cmalteredart-path5: unquote('"\\e9bd"');
$fonticon-cmalteredart-path6: unquote('"\\e9be"');
$fonticon-cmsponsorship-path1: unquote('"\\e924"');
$fonticon-cmsponsorship-path2: unquote('"\\e929"');
$fonticon-cmsponsorship-path3: unquote('"\\e92a"');
$fonticon-liliana-market: unquote('"\\eafc"');
$fonticon-cmspoilers-symbol-path1: unquote('"\\ea1a"');
$fonticon-cmspoilers-symbol-path2: unquote('"\\ea1b"');
$fonticon-cmspoilers-symbol-path3: unquote('"\\ea1c"');
$fonticon-cmalteredart-symbol-path1: unquote('"\\e93d"');
$fonticon-cmalteredart-symbol-path2: unquote('"\\e94c"');
$fonticon-cmsponsorship-symbol-path1: unquote('"\\e92b"');
$fonticon-cmsponsorship-symbol-path2: unquote('"\\e92d"');
$fonticon-cmsponsorship-symbol-path3: unquote('"\\e92e"');
$fonticon-cmsponsorship-symbol-path4: unquote('"\\e92f"');
$fonticon-facebook: unquote('"\\ea0a"');
$fonticon-twitter: unquote('"\\e935"');
$fonticon-facebook-f: unquote('"\\e930"');
$fonticon-youtube: unquote('"\\ea0d"');
$fonticon-instagram: unquote('"\\eaf2"');
$fonticon-bluesky: unquote('"\\e93a"');
$fonticon-tiktok: unquote('"\\eb28"');
$fonticon-reddit-alien: unquote('"\\e934"');
$fonticon-history: unquote('"\\eb19"');
