/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 35px; /* Decreased width */
    height: 20px; /* Decreased height */
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    /* position: absolute; */
    cursor: pointer;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 10px; /* Adjusted to match height */
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px; /* Decreased height */
    width: 16px; /* Decreased width */
    left: 2px; /* Adjusted */
    bottom: 2px; /* Adjusted */
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px); /* Adjusted translation */
    -ms-transform: translateX(16px); /* Adjusted translation */
    transform: translateX(16px); /* Adjusted translation */
}

/* Rounded sliders */
.slider.round {
    border-radius: 20px; /* Adjusted to match height */
}

.slider.round:before {
    border-radius: 50%;
}
